html {
    font-size: 16px;
}

.homepage-head {

    border: 1px red solid;
}

.textbox {

}

.send {

}

.recepient {

}

.error {

}

.inMessageDisplay {
    border: 1px yellow solid;
}

.outMessageDisplay {
    border: 1px blue solid;
}

.messageContainer {
    border: 1px green solid;
}
.refresher {

}