html {
    font-size: 16px;
}

.homepage {
    display: flex;
    border: 1px purple solid;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homepage-head {
    border: 1px red solid;
}

.textbox {
    min-width: 40rem;
    height: 100%;
    flex-shrink: 2;
}

.send {
    max-height: 1.4rem;
}

.recepient {
    max-height: 1.4rem;
}

.error {
    border: 1px teal solid;
}

.inMessageContainer {
    display: flex;
    width: 50%;
    border: 1px yellow solid;
}

.outMessageContainer {
    display: flex;
    width: 50%;
    border: 1px blue solid;
}

.messageContainer {
    display: flex;
    flex-direction: row-reverse;
    min-height: 30%;
    border: 1px green solid;
}

.text-area {
    display: flex;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    height: 13rem;
    border: 1px silver solid;
}

.refresher {
    max-width: 3.8rem;
    min-height: 3.8rem;
    border-radius: 3rem;
}