html {
    font-size: 16;
}

.username {
    background-color: black;
}
.password {
    background-color: black;
}

.submit {
    margin: 2rem 0;
    max-width: 4rem;
    margin: auto;
}

.form {
    display: flex;
    max-height: 1.5rem;
    justify-content: center;
}

.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* border: 1px brown solid; */
    margin: 2rem 0
}

input[type="text"] {
    color: white;
}

input[type="password"] {
    color: white;
}